*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner{
   
    height: 85%;
    width: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.left{
    width: 80%;
    height: 100%;
    background-color: blue;
     font-family: Arial, Helvetica, sans-serif;
   padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 20px;
}
#p1{
    color: white;
    font-size: 13px;
}
#p2{
    color: rgba(255, 255, 0, 0.92);
     font-size: 14px;
     font-weight: bold;
     margin-top: 3px;
}
#text1{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    width: 90%;
    padding: 3px;
    padding-left: 10px;
    margin-top: 10px;
}
#text1::placeholder{
    font-size: 11px;
    color: white;
   
}
#text2{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    width: 90%;
    padding: 3px;
    padding-left: 10px;
}
#text2::placeholder{
    font-size: 11px;
    color: white;
   
}
#email{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    width: 90%;
    padding: 3px;
    padding-left: 10px;
}
#email::placeholder{
    font-size: 11px;
    color: white;
   
}
#ph {
    width: 20%;
    background-color: transparent;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid white;
    border-right: none;
    padding: 4px;   
    font-size: 10px;
    color: white;
    padding-top: 6px;   
    padding-left: 10px;
    align-items: center;
}
#tel{
    background-color: transparent;
    border: 1px solid white;
   border-left: none    ;
    width: 72%;
   padding: 3px;
    padding-left: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -10px;
}
#tel::placeholder{
    font-size: 11px;
    color: white;
   
}

#date{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    width: 40%;
    padding: 3px;
    padding-left: 10px;
}
#date::placeholder{
    font-size: 11px;
    color: white;
   
}
#password{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    width: 40%;
    padding: 3px;
    padding-left: 10px;
    margin-right: 30px;
}
#password::placeholder{
    font-size: 11px;
    color: white;
   
}
#pin{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    width: 40%;
    padding: 3px;
    padding-left: 10px;
}
#pin::placeholder{
    font-size: 11px;
    color: white;
}
#radio{
    margin-left: 15px;
}
span{ 
    color: white;
    font-size: 13px;
    padding-left: 5px;
}

#box{
    margin-left: 20px;
}
#p3{
    font-size: 11px;
  color: white;
    padding-left: 5px;
    padding-right: 10px;
}
#button{
    color: black;
    font-weight: bolder;
    font-size: 11px;
    background-color: yellow;
    border: none;
    padding: 5px;
   width: 90%;
   border-radius: 10px;
}
#p4{
    font-size: 12px;
    color: white;
    margin-top: 20px;
    padding-left: 80px;
   
}
.right{
   background-color: yellow;
    height: 100%;
    width: 30%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}